.choices {
	background: #ffffff;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	border-radius: 0.25rem;
	box-shadow: 0 1rem 6rem rgba(#000, 0.2);
}

.choice-list {
	margin-bottom: 1em;
	max-height: 50vh;
	overflow: auto;

	> p {
		text-align: center;
		padding: 1rem;
	}

	&::-webkit-scrollbar {
		width: .5em;
	}

	&::-webkit-scrollbar-track {
		box-shadow: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: scale-color(#000, $lightness: 80%);
		outline: 1px solid slategrey;
	}
}

.choice {
	display: flex;
	padding: 1rem;
	align-items: center;

	> div {
		&:first-child {
			margin-right: .3rem;
		}

		&:last-child {
			margin-left: auto;
		}
	}

	&:not(:last-child) {
		border-bottom: 0.125em solid rgba(#000, 0.1);
	}

	.choice-text {
		outline: none;
		border: 0.0625em solid transparent;
		padding: 0 0.25em;

		&:focus {
			border: 0.0625em dashed rgba(0,0,0,0.2);
		}
	}
}

.add-choice {
	display: flex;
	align-items: center;
	margin: 1em 0;

	input {
		flex: 1 1 auto;
		margin-right: 1.5rem;
	}

	.button {
		margin-left: 0.3em;
		height: auto;
		font-size: 1.7rem;
	}
}
