.button {
	@include control;
	@include unselectable;
	cursor: pointer;
	transition: all 0.25s ease-out;
	outline: none;
	background: scale-color(#fff, $lightness: -5%);
	border: 0.125em solid scale-color(#fff, $lightness: -15%);
	color: scale-color(#000, $lightness: 20%);
	border-radius: 3000em;
	padding-right: 1.75em;
	padding-left: 1.75em;

	&:hover {
		background: #ffffff;
		border: 0.125em solid scale-color(#fff, $lightness: -22%);
		color: #000;
	}

	&.is-transparent {
		background: none;
		border: none;
	}

	.icon {
		height: 1.5em;
		width: 1.5em;

		&:first-child:not(:last-child) {
			margin-left: calc(-0.375em - 1px);
			margin-right: 0.1875em;
		}

		&:last-child:not(:first-child) {
			margin-left: 0.1875em;
			margin-right: calc(-0.375em - 1px);
		}

		&:first-child:last-child {
			margin-left: calc(-0.375em - 1px);
			margin-right: calc(-0.375em - 1px);
		}
	}

	&.is-danger {
		&:hover {
			color: #da2400;
		}
	}
}
