label {
	display: block;
	margin-bottom: .35em;
}

input[type="text"] {
	@include control;
	@include unselectable;
	border-color: rgba(#000, 0.15);
	border-width: 0 0 .125em;

	&:focus,
	&:active {
		outline: none;
		border-color: #9e9e9e;
	}
}
