$icon-dimensions: 1.5em;
$icon-font-size-offset: .5em;

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: $icon-dimensions - $icon-font-size-offset;
  height: $icon-dimensions;
  width: $icon-dimensions;

  svg {
    width: 1em;
    height: 1em;
  }

  &.is-large {
    font-size: ($icon-dimensions - $icon-font-size-offset) * 2;
  }

  &.is-xlarge {
    font-size: ($icon-dimensions - $icon-font-size-offset) * 3;
  }
}
